@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; /* Fuente moderna y limpia */
  background-color: #f8f9fa;
}

*, *:before, *:after {
  box-sizing: inherit;
}